*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #222327;
    z-index: 10;
}
.nav{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255,255,255,0.9);
    z-index: 10;
}
.nav ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 10;
    opacity: 1;
}
.nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    z-index: 10;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #222327;
    z-index: 10;
}
.nav ul li.active a .icon{
    transform: translateY(35px);
}
.nav ul li a .text{
    position: absolute;
    color: #222327;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    z-index: 10;
}
.nav ul li.active a .text{
    opacity: 1;
    transform: translateY(-15px)
}
.indicator{
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,0.3);
    transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 20%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent ;
    border-bottom-right-radius: 20px;
    /* box-shadow: 1px 10px 0 0 rgba(250,250,250,0.3); */
}
.indicator::after{
    content: '';
    position: absolute;
    top: 20%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent ;
    border-bottom-left-radius: 20px;
    /* box-shadow: -1px 10px 0 0 rgba(250,250,250,0.3); */
}
.nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * -2));
}
.nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * -1));
}
.nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.nav ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}


html {
    scroll-behavior: smooth;
}

.fade {
    animation: fade 1.5s infinite;
}

@keyframes fade {
    form {opacity: 0.4;}
    to {opacity: 1;}
}

.arrow {
    animation: downward 1s infinite;
}

@keyframes downward {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}

.static-text{
    color: #777;
    font-size: 60px;
    font-weight: 1000;
}
.dynamic-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-text li{
    color: #0aa2ad;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

.dynamic-text li span{
    position: relative;
}

.dynamic-text li span::after{
    content: "";
    left: 0;
    position: absolute;
    background: #e8f8fd;
    height: 120%;
    width: 100%;
    border-left: 2px solid #0aa2ad;
    animation: typing 2s steps(12) infinite;
}

.fade-up{
    animation: fade-up 2.5s;
}

.fade-down{
    animation: fade-down 2.5s;
}

.fade-right{
    animation: fade-right 2.5s;
}

/* experience */

.container-experiences{
    background: #fff;
    max-width: 80%;
    margin: 100px auto;
    padding: 0 20px
}

.row{
    display: flex;
}
.row-left{
    justify-content: flex-start;
}
.row-right{
    justify-content: flex-end;
}
.center-line{
    position: absolute;
    height: 300vh;
    width: 4px;
    background: #d9ebf0;
    left: 50%;
    transform: translateX(-50%);
}

.container-experiences .row section{
    background: #e6f8fd;
    border-radius: 5px;
    width: calc(50% - 60px);
    padding: 20px;
    position: relative;
}
.container-experiences .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #e6f8fd;
    top: 28px;
    transform: rotate(45deg);
}
.row-left section::before{
    right: -7px;
}
.row-right section::before{
    left: -7px;
}

.details, .bottom{
    display: flex;
    justify-content: space-between;
}

.details .title{
    font-size: 22px;
    font-weight: 600;
}

.container-experiences .ion-icon, .scroll-icon{
    position: absolute;
    padding: 8px;
    background-color: #d9ebf0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #b5c5c9;
    font-size: 17px;
    box-shadow: 0 0 0 4px #d9ebf0, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    transform:  translateX(-50%);
}

.row-left section .ion-icon{
    top: 13px;
    right: -88px;
}
.row-right section .ion-icon{
    top: 13px;
    left: -88px;
}

/* contact */

/* button */

.button-video:hover{
    opacity: 0.9;
    transform: scale(1.1);
    animation-duration: 1s;
}

/* .container-contact section{
    position: absolute;
    width: 100%;
    height: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}

section .contact{
    position: absolute;
    filter: blur(150px)
}
section .contact:nth-child(1){
    background: #ff359b;
    width: 600px;
    height: 600px;
    top: -350px;
}
section .contact:nth-child(2){
    background: #ff359b;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}
section .contact:nth-child(3){
    background: #ff359b;
    width: 600px;
    height: 600px;
    bottom: 50px;
    right: 0px  ;
} */

.container-contact ul{
    position: relative;
    display: flex;
    z-index: 2;
}
.container-contact ul li{
    position: relative;
    list-style: none;
    margin: 10px;
}
.container-contact ul li a{
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}
.container-contact ul li a:hover{
    transform: translateY(-20px);
}
.container-contact ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
.container-contact ul li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

/* animation */

@keyframes typing {
    100%{
        left: 110%;
        margin: 0 -35px 0 35px;
    }    
}

@keyframes slide {
    100%{
        top: -360px;
    }
    
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}


/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  } */

/* .card-btn {
    margin-top: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    form {opacity: 0.4;}
    to {opacity: 1;}
}

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  } */

/* .card-btn {
    margin-top: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
>>>>>>> 1e44b404ee8072e024af3f8ed4c2215bcd3aca3e
} */