*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #222327;
}
.nav{
    position: relative;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255,255,255,0.7);
    z-index: 50;
}
.nav ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    opacity: 1;
}
.nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #222327;
}
.nav ul li.active a .icon{
    transform: translateY(35px);
}
.nav ul li a .text{
    position: absolute;
    color: #222327;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
}
.nav ul li.active a .text{
    opacity: 1;
    transform: translateY(-15px)
}
.indicator{
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,0.3);
    transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 20%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent ;
    border-bottom-right-radius: 20px;
    /* box-shadow: 1px 10px 0 0 rgba(250,250,250,0.3); */
}
.indicator::after{
    content: '';
    position: absolute;
    top: 20%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent ;
    border-bottom-left-radius: 20px;
    /* box-shadow: -1px 10px 0 0 rgba(250,250,250,0.3); */
}
.nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * -2));
}
.nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * -1));
}
.nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.nav ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}


html {
    scroll-behavior: smooth;
}

.fade {
    animation: fade 1.5s infinite;
}

@keyframes fade {
    form {opacity: 0.4;}
    to {opacity: 1;}
}

.arrow {
    animation: downward 1s infinite;
}

@keyframes downward {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}

.static-text{
    color: #777;
    font-size: 60px;
    font-weight: 1000;
}
.dynamic-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-text li{
    color: #0aa2ad;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

.dynamic-text li span{
    position: relative;
}

.dynamic-text li span::after{
    content: "";
    left: 0;
    position: absolute;
    background: #f3f8fd;
    height: 100%;
    width: 100%;
    border-left: 2px solid #0aa2ad;
    animation: typing 1.5s steps(6) infinite;
}

.fade-up{
    animation: fade-up 2.5s;
}

.fade-down{
    animation: fade-down 2.5s;
}

.fade-right{
    animation: fade-right 2.5s;
}

@keyframes typing {
    100%{
        left: 120%;
        margin: 0 -35px 0 35px;
    }    
}

@keyframes slide {
    100%{
        top: -360px;
    }
    
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}


/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  } */

/* .card-btn {
    margin-top: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    form {opacity: 0.4;}
    to {opacity: 1;}
}

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  } */

/* .card-btn {
    margin-top: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
>>>>>>> 1e44b404ee8072e024af3f8ed4c2215bcd3aca3e
} */