.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  
  .marquee-content {
    display: inline-block;
    animation: marquee 30s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Adjust the duration, delay, and other styles as needed */
  