.body {
  overflow-x: hidden;
  overflow-y: auto;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  margin-right: 32px; /* Adjust the margin between cards as needed */
  background-color: #f3f7fc;
  border-radius: 5px;
  position: relative; /* Add this line */
  overflow-x: hidden;
  overflow-y: auto;
}

.card-image {
  height: 50%; /* Adjust the height of the image as needed */
  background-size: cover;
  background-position: center;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 0.8rem;
  color: #0aa2ad;
  font-weight: bold;
}

.card-description {
  color: #879395;
  flex-grow: 1;
}
